.product-card {
  background-color: #f5f6fa;
  border-radius: 10px;
  color: #2f3640;
  margin: 0 2em;
  transition: all linear 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover,
.product-card:active {
  box-shadow: 0.2em 0.5em 0.5em rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.product-img {
  border-radius: 10px 10px 0 0;
  height: 150px;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.product-text {
  padding: 12px;
  text-align: center;
}

.product-cart button {
  border: 0;
  border-radius: 0 0 10px 10px;
  color: #f5f6fa;
  background-color: #3498db;
  cursor: pointer;
  font-family: inherit;
  padding: 1em;
  text-transform: uppercase;
  transition: all linear 0.3s;
  width: 100%;
}

.product-cart button:hover {
  font-weight: 500;
  letter-spacing: 0.1em;
}
